<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>


<router-outlet>
    <div class="container">
        <h2>All Todos</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let todo of all_todos" (click)="todo_details(todo._id)">{{todo.title}}</li>
          <!-- <li class="list-group-item">Second item</li>
          <li class="list-group-item">Third item</li> -->
        </ul>
      </div>
      
</router-outlet>